*{
    margin: 0;
    padding: 0;
}

/* ---------------- CUSTOM FONTS ------------------------*/
@font-face {
    font-family: Chunq;
    src: url(fonts/Chunq\ 400.ttf);
}
@font-face {
    font-family: Couple Date;
    src: url(fonts/Couple\ Date\ 400.ttf);
}
@font-face {
    font-family: Fresh Steak;
    src: url(fonts/Fresh\ Steak\ 400.otf);
}
@font-face {
    font-family: MADEDillan;
    src: url(fonts/MADEDillan\ 400.otf);
}
@font-face {
    font-family: Pancis-Regular;
    src: url(fonts/Pancis-Regular\ 400.otf);
}
@font-face {
    font-family: Nineteenth;
    src: url(fonts/Nineteenth\ \(Personal\ use\).otf);
}

body{
    width: 100%;
}
header{
    display: flex;
    padding: 50px 0 0 50px;
}
header>h1{
    font-family: "Poppins";
    letter-spacing: 3px;
    color: #0a1445;
    background-color: #ffffff;
    padding: 10px 15px;
    box-shadow: 5px 10px 20px #909092;
    border-radius: 50px;
}
nav{
    margin-left: 400px;
    display: flex;
}
nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-top: 20px;

}
nav>ul>li>a{
    text-decoration: none;
    color: #0a1445;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 25px;
    font-family: 'Poppins';
}
nav>ul>li>a:hover{
    color: #fbb511;
    transition: all ease 0.4s;
}
.homeContent{
    padding-bottom: 50px;
}
.contact-btn{
    text-decoration: none;
    margin-top: 12px;
    margin-left: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 30px;
    background-color: #fbb511;
    font-family: "Poppins";
    border-radius: 30px;
    box-shadow: 5px 5px 20px #fbb511;
}
.homeContent{
    display: flex;

}
.content-text{
    width: 50%;
    padding-top: 15%;
    padding-left: 3%;
}

.content-text h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: Fresh Steak;
    letter-spacing: 5px;
    padding-bottom: 2%;
}
.content-text p{
    font-size: 0.9rem;
    font-family: "Poppins";
    letter-spacing: 1px;
    line-height: 20px;
    padding-bottom: 50px;
}
.hire-me-btn{
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "Poppins";
    font-weight: 600;
    background-color: #fbb511;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #fbb511;
}
.span-color{
    color: #ffb700;
}
.images{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
}
.person{
    width: 65%;
    margin-left: 100px;
}
.services{
    width: 100%;
    padding-top: 15%;

}
.services-text{
    width: 50%;
    margin-left: 50px;
}
.services-text h1{
    font-size: 3rem;
    color: #0a1445;
    font-family: Nineteenth;
    letter-spacing: 3px;
    padding-bottom: 10px;
}
.services-text p{
    font-size: 0.9rem;
    font-family: "Poppins";
    letter-spacing: 1px;
    line-height: 20px;
    padding-bottom: 50px;
}
.download-cv{
    text-decoration: none;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "Poppins";
    font-weight: 600;
    background-color: #fbb511;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #fbb511;
}